#!/usr/bin/make -f
#-*- makefile -*-

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/gnome-pkg-tools/1/rules/uploaders.mk

DEB_CONFIGURE_EXTRA_FLAGS := --enable-static --enable-python

# ensures that libgladeui's shlibs are in place when calling dh_shlibdeps
binary-glade-3:: binary-libgladeui-1-6
binary-glade-gnome-3:: binary-libgladeui-1-6

# link with the freshly build libgladeui during dh_shlibdeps, and use freshly
# generated shlib information
DEB_SHLIBDEPS_LIBRARY_glade-3 += libgladeui-1-6
DEB_SHLIBDEPS_INCLUDE_glade-3 += debian/libgladeui-1-6/usr/lib/
DEB_SHLIBDEPS_LIBRARY_glade-gnome-3 += libgladeui-1-6
DEB_SHLIBDEPS_INCLUDE_glade-gnome-3 += debian/libgladeui-1-6/usr/lib/

# remove stuff that will go in glade-gnome
binary-post-install/libgladeui-1-6::
	find debian/libgladeui-1-6/usr/share/glade3/pixmaps/ -name gnome\* -exec rm {} \;
	find debian/libgladeui-1-6/usr/share/glade3/pixmaps/ -name bonobo\* -exec rm {} \;
